body {
    background: linear-gradient(180deg, #000814 0%, rgba(0, 8, 20, 0) 100%);
    text-align: center; }
main{
    .cartelera__titulo{
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto', sans-serif;
        margin: 50px;
        color: #FFFFFF;
        margin-right: 30px;
        color: #FFFFFF;
        font-size: 50px;
        max-width: none;
        text-align: left;
        @media screen and (max-width: 768px){
            font-size: 30px;
        }            
        @media screen and (max-width: 375px){
            font-size: 20px;
        }
    }
    .cartelera__peliculas{
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 100px;
        text-align: center;
        @media screen and (max-width: 375px){
        margin-left: 15px;
        }

    
    }
    
    
    .cartelera__peliculas img{
        /* display: inline-block; */
        margin: 10px 70px;
        height: auto;
        width: 280px;
        @media screen and (max-width: 768px){
            width: 250px;
            margin: 10px 30px;
        }
        @media screen and (max-width: 375px){
            width: 130px;
            margin: 10px;
        }
    }
}  