body {
    background: linear-gradient(180deg, #000814 0%, rgba(0, 8, 20, 0) 100%);
    text-align: center; }

.main__pelis{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "parte1 parte2"
      "parte1 parte2"; 
  
  .parte1 { grid-area: parte1;
    h1{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 75px;
        line-height: 88px;
        
        color: #FFFFFF;     
        margin-top: 100px;
        margin-bottom: 130px;
        margin-left:120px ;
    }
    p{
        font-family: 'Puritan', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 27px;
        text-align: left;

        margin-left: 145px;
    }
    button{

        width: 240px;
        height: 52px;    
        
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        margin-right:430px;
        margin-top: 100px;
        font-size: 30px;
        color: #000000;
        background: #9DFF20;
        border-radius: 50px;
        border: 0;
    } }
  .parte2 { grid-area: parte2;
    img{
        width: 517px;
        height: 781px;
        margin-top: 100px;
    }
    table{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 27px;
        text-align: left;
        color: #FFFFFF;
        margin-top: 50px;
        margin-left: 245px;
        text-align: center;
    }
    
}


}