.main__contactos {
  margin-bottom: 500px;
  /* }
form input, form textarea{
    display: block;    
    }  */
  /* input, textarea{
    text-align: center;

} */ }
  .main__contactos .contactanos__h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .main__contactos .contactanos__h2 {
        font-size: 30px;
        text-align: center;
        line-height: 30px; } }
  .main__contactos form {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: 1fr;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "label1 input1" "label2 input2" "label3 input3" "label4 input4" "boton boton"; }
    @media screen and (max-width: 768px) {
      .main__contactos form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .main__contactos .label1 {
    grid-area: label1; }
  .main__contactos .input1 {
    grid-area: input1; }
  .main__contactos .label2 {
    grid-area: label2; }
  .main__contactos .label3 {
    grid-area: label3; }
  .main__contactos .label4 {
    grid-area: label4; }
  .main__contactos .input2 {
    grid-area: input2; }
  .main__contactos .input3 {
    grid-area: input3; }
  .main__contactos .input4 {
    grid-area: input4; }
  .main__contactos .boton {
    grid-area: boton; }
  .main__contactos .input1, .main__contactos .input2, .main__contactos .input3, .main__contactos .input4, .main__contactos .label1, .main__contactos .label2, .main__contactos .label3, .main__contactos .label4, .main__contactos .boton {
    height: 100px; }
    @media screen and (max-width: 768px) {
      .main__contactos .input1, .main__contactos .input2, .main__contactos .input3, .main__contactos .input4, .main__contactos .label1, .main__contactos .label2, .main__contactos .label3, .main__contactos .label4, .main__contactos .boton {
        height: 50px; } }
  .main__contactos label {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    font-size: 30px;
    color: #FFFFFF;
    margin-left: 300px; }
    @media screen and (max-width: 768px) {
      .main__contactos label {
        margin-left: 0px;
        margin-right: 0px; } }
    @media screen and (max-width: 375px) {
      .main__contactos label {
        font-size: 20px; } }
  .main__contactos input {
    width: 612px;
    height: 50px;
    margin-right: 600px; }
    @media screen and (max-width: 768px) {
      .main__contactos input {
        margin-left: 0px;
        margin-right: 0px; } }
    @media screen and (max-width: 375px) {
      .main__contactos input {
        width: 350px;
        margin-bottom: 35px; } }
  .main__contactos textarea {
    width: 600px;
    height: 300px;
    font-size: 16px;
    line-height: 250px;
    margin-right: 600px; }
    @media screen and (max-width: 768px) {
      .main__contactos textarea {
        margin-left: 0px;
        margin-right: 0px; } }
    @media screen and (max-width: 375px) {
      .main__contactos textarea {
        width: 350px; } }
  .main__contactos button {
    width: 240px;
    height: 52px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left: 350px;
    margin-top: 220px;
    font-size: 30px;
    color: #000000;
    background: #9DFF20;
    border-radius: 50px;
    border: 0; }
    @media screen and (max-width: 768px) {
      .main__contactos button {
        margin-left: 350px;
        margin-top: 320px; } }
    @media screen and (max-width: 375px) {
      .main__contactos button {
        margin-left: 200px;
        margin-top: 320px;
        width: 140px;
        height: 52px;
        font-size: 25px; } }

body {
  background: linear-gradient(180deg, #000814 0%, rgba(0, 8, 20, 0) 100%);
  text-align: center; }

main .cartelera__titulo {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 50px;
  color: #FFFFFF;
  margin-right: 30px;
  color: #FFFFFF;
  font-size: 50px;
  max-width: none;
  text-align: left; }
  @media screen and (max-width: 768px) {
    main .cartelera__titulo {
      font-size: 30px; } }
  @media screen and (max-width: 375px) {
    main .cartelera__titulo {
      font-size: 20px; } }

main .cartelera__peliculas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 100px;
  text-align: center; }
  @media screen and (max-width: 375px) {
    main .cartelera__peliculas {
      margin-left: 15px; } }

main .cartelera__peliculas img {
  /* display: inline-block; */
  margin: 10px 70px;
  height: auto;
  width: 280px; }
  @media screen and (max-width: 768px) {
    main .cartelera__peliculas img {
      width: 250px;
      margin: 10px 30px; } }
  @media screen and (max-width: 375px) {
    main .cartelera__peliculas img {
      width: 130px;
      margin: 10px; } }

body {
  background: linear-gradient(180deg, #000814 0%, rgba(0, 8, 20, 0) 100%);
  /* width: 100%; */
  text-align: center; }

.grid__nuestros__cines {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "textos__nuestros__cines iframe" "textos__nuestros__cines2 iframe2"; }
  @media screen and (max-width: 768px) {
    .grid__nuestros__cines {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.textos__nuestros__cines {
  grid-area: textos__nuestros__cines;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.textos__nuestros__cines2 {
  grid-area: textos__nuestros__cines2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.iframe {
  grid-area: iframe; }

.iframe2 {
  grid-area: iframe2; }

.h3__proximos__estrenos {
  margin-bottom: 25px;
  font-size: 30px;
  font-style: bold; }

.textos {
  font-size: 23px; }

main .iframe, main .iframe2 {
  margin-bottom: 50px;
  width: 550px;
  height: 450px; }
  @media screen and (max-width: 768px) {
    main .iframe, main .iframe2 {
      width: 450px;
      height: 450px; } }
  @media screen and (max-width: 375px) {
    main .iframe, main .iframe2 {
      display: block;
      width: 250px;
      height: 250px; } }

main .titulo__nuestroscines {
  font-family: 'Roboto', sans-serif;
  margin: 50px;
  /* margin-left: 20px;
padding: 50px; */
  color: #FFFFFF;
  font-size: 50px;
  max-width: none;
  text-align: left;
  /* padding-left: 150px; */ }
  @media screen and (max-width: 768px) {
    main .titulo__nuestroscines {
      font-size: 30px;
      text-align: center; } }
  @media screen and (max-width: 375px) {
    main .titulo__nuestroscines {
      text-align: center;
      margin-bottom: 50px; } }

main h3, main p {
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
  color: #FFFFFF; }

body {
  background: linear-gradient(180deg, #000814 0%, rgba(0, 8, 20, 0) 100%);
  /* width: 100%; */
  text-align: center; }

main h2 {
  font-family: 'Roboto', sans-serif;
  margin: 5vw;
  color: #FFFFFF;
  font-size: 2em;
  max-width: none;
  text-align: left; }

main iframe {
  margin-left: 10px;
  height: 250px;
  width: 350px; }

main .h3__proximos__estrenos {
  margin-bottom: 15px;
  font-size: 20px;
  font-style: bold; }

main .textos {
  font-size: 16px; }

body {
  background: linear-gradient(180deg, #000814 0%, rgba(0, 8, 20, 0) 100%);
  text-align: center; }

header {
  width: 100%;
  padding-top: 50px; }
  header .header__logo {
    padding-bottom: 50px;
    align-items: center; }

.header_boostrap {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin-bottom: 5px; }
  .header_boostrap li {
    margin-left: 25px;
    margin-right: 25px; }
    .header_boostrap li :hover {
      text-decoration: underline solid 3px  #9DFF20;
      color: #9DFF20; }

.main .main__titulo {
  font-family: 'Roboto', sans-serif;
  margin: 50px;
  color: #FFFFFF;
  font-size: 50px;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    .main .main__titulo {
      font-size: 30px; } }
  @media screen and (max-width: 375px) {
    .main .main__titulo {
      font-size: 20px; } }

.main__peliculas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px; }
  .main__peliculas figure {
    display: inline-block;
    padding-bottom: 0px; }
    .main__peliculas figure img {
      margin: 10px 70px;
      height: auto;
      width: 300px; }
      @media screen and (max-width: 768px) {
        .main__peliculas figure img {
          width: 150px;
          margin: 10px 80px; } }
      @media screen and (max-width: 375px) {
        .main__peliculas figure img {
          width: 130px;
          margin: 16px; } }
  .main__peliculas :hover {
    transform: translate(10px, 10px); }

figcaption {
  color: #272727;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
  text-align: center; }
  @media screen and (max-width: 375px) {
    figcaption {
      font-size: 13px; } }

.footer {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px; }
  .footer .logo__footer img {
    width: 100%;
    height: auto; }
  .footer .redes {
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px; }

body {
  background: linear-gradient(180deg, #000814 0%, rgba(0, 8, 20, 0) 100%);
  text-align: center; }

.main__pelis {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "parte1 parte2" "parte1 parte2"; }
  .main__pelis .parte1 {
    grid-area: parte1; }
    .main__pelis .parte1 h1 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 900;
      font-size: 75px;
      line-height: 88px;
      color: #FFFFFF;
      margin-top: 100px;
      margin-bottom: 130px;
      margin-left: 120px; }
    .main__pelis .parte1 p {
      font-family: 'Puritan', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 27px;
      text-align: left;
      margin-left: 145px; }
    .main__pelis .parte1 button {
      width: 240px;
      height: 52px;
      font-family: 'Roboto', sans-serif;
      display: inline-block;
      margin-right: 430px;
      margin-top: 100px;
      font-size: 30px;
      color: #000000;
      background: #9DFF20;
      border-radius: 50px;
      border: 0; }
  .main__pelis .parte2 {
    grid-area: parte2; }
    .main__pelis .parte2 img {
      width: 517px;
      height: 781px;
      margin-top: 100px; }
    .main__pelis .parte2 table {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 27px;
      text-align: left;
      color: #FFFFFF;
      margin-top: 50px;
      margin-left: 245px;
      text-align: center; }
