*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* HEADER */
header{
    background-color: black; 
    width: 100%;
    padding-top: 50px;
    /* position: fixed; */

}
/* HEADER LOGO */

.header__logo{
    /* display: flex; */
    /* width: 100%; */
    /* margin: auto;  */
    /* margin-bottom: 60px; */
    /* justify-content: center; */
    padding-bottom: 50px;
    align-items: center;

}

/* HEADER MENÚ */
.header__menu{
    
    display: flex;
    justify-content: space-around;
    display: inline-block;
    align-items: center;
    

 
}
.header__menu a {
    display: inline-block;

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    margin: 30px;

    
    
}

/* .header__menu ul li a:hover{
    color:#f2f2f2;
    background: #6e6e6e;
    border-bottom: 10px;
    border-color: #FFFFFF;
} */
/* FONDO y GRID */
body{
    background: linear-gradient(180deg, #000814 0%, rgba(0, 8, 20, 0) 100%);
    /* width: 100%; */
    text-align: center;
}
.contenedor {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto 5fr auto; 
 
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer"; 
  }
  .header { grid-area: header; }
  .main { grid-area: main; }
  .footer { grid-area: footer; }
/* NAV PORTADAS */
.nav__portadas img{
    display: inline-block;


    max-width: 100%;
    
}
/* MAIN */

.main__titulo, h2{
    font-family: 'Roboto', sans-serif;
    margin: 5vw;
    /* margin-left: 20px;
    padding: 50px; */
    color: #FFFFFF;
    font-size: 2em;
    max-width: none;
    text-align: left;
    /* padding-left: 150px; */

}

h3, p{
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: #FFFFFF;
}


.main__peliculas{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px; 


}

.main__peliculas img{

    margin: 10px 70px;
    height: 430px;
    width: 280px;
}
figure {
    display: inline-block;
    padding-bottom: 0px;
}
figcaption {
    /* background-color: #222; */
    color: #fff;
    padding: 3px;
    text-align: center;
}
/* CARTELERA */
.cartelera__titulo{
    /* display: block; */
    margin-left: 150px;
}
.cartelera__peliculas{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
    text-align: center;

}


.cartelera__peliculas img{
    /* display: inline-block; */
    margin: 10px 70px;
    height: auto;
    width: 280px;
}



/* PROXIMOS ESTRENOS */

.posters__proximosestrenos{ 

    display: flex;
    flex-direction: colum;


}


.main__nuestros__cines h2{
    padding-left: 150px;
}
/* NUESTROS CINES */
.grid__nuestros__cines {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "textos__nuestros__cines iframe"
      "textos__nuestros__cines2 iframe2"; 
  }
  .textos__nuestros__cines { grid-area: textos__nuestros__cines;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .textos__nuestros__cines2 { grid-area: textos__nuestros__cines2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .iframe { grid-area: iframe; }
  .iframe2 { grid-area: iframe2; }
    .h3__proximos__estrenos{
        margin-bottom: 25px;
        font-size: 30px;
        font-style: bold;
    }


.textos{
    font-size: 23px;
}
iframe{
    margin-bottom: 50px;
}
/* CONTACTOS */
.contactanos__h2{
    text-align: center;
}
label{
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    font-size: 30px;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    left: 500px; 

}
form input, form textarea{
    display: block;    
    } 
input, textarea{
    text-align: center;

}
input{
    width: 500px;
    height: 40px;
}
textarea{
    width: 600px;
    height: 300px;
    font-size: 16px;
    line-height: 250px ;
}
.boton{
    display: inline-block;
    width: 240px;
    height: 52px;    
    margin-bottom: 152px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    font-size: 30px;
    color: #000000;
    background: #9DFF20;
    border-radius: 50px;
    border: 0;

}

/* FOOTER */
.footer{
    background-color: black;
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.redes{

    margin-bottom: 60px;
}

.redes{
    display: flex;
    margin: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.logo__footer{
    
    margin-top: 30px;
}


/* TABLET RESPONSIVE DESING  */     

@media screen and (max-width: 768px){
    .header__logo{
        padding-bottom: 10px;
    }
    .header__logo img{
        height: auto;
        width: 200px;
    }
    .header__menu{
        padding-bottom: 10px;
    }
    .header__menu li {
        
        display: inline-block;
        width: 270px;
        font-size: 10px;
        
        
    }
    .header__menu a{
    
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 15px;
        color: #FFFFFF;
        margin: 20px;
        
    }

    .main__titulo{
        font-size: medium;
    }
    
    .main__peliculas img{

        margin: 10px 20px;
        width: 160px;
        height: auto;
    }
    figure figcaption {
        /* text-transform: uppercase; */
        font-size: 12px;
        color: #fff;
        line-height: 14px;
        margin-bottom: 5px;
        height: 32px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        width: 190px;
        margin-bottom: 10px;
    }
    /* CARTELERA TABLET */
    .cartelera__titulo{
        /* display: block; */
        margin-left: 90px;
        font-size: 25px;
    }
    .cartelera__peliculas{


        margin-left: 80px;
    
    }
    
    .cartelera__peliculas img{

        margin: 10px 20px;
        height: auto;
        width: 160px;
    }
    /* PROXIMOS ESTRENOS */
    iframe{
        margin-left: 10px;
        height: 250px;
        width: 350px;
    }
    .h3__proximos__estrenos{
        margin-bottom: 15px;
        font-size: 20px;
        font-style: bold;
    }
    .textos{
        font-size: 16px;
    }
}
/* MOBILE RESPONSIVE DESING */
@media screen and (max-width: 375px){
    .contenedor {
        display: grid; 
        grid-template-columns: 1fr ; 
        grid-template-rows: auto; 
     
        grid-template-areas: 
          "header"
          "main"
          "footer"; 
      }
    .header { grid-area: header; }
    .main { grid-area: main; }
    .footer { grid-area: footer; }
    .header__logo{
        /* display: flex; */
        /* width: 100%; */
        /* margin: auto;  */
        /* margin-bottom: 60px; */
        /* justify-content: center; */
        /* padding-bottom: 50px; */
        align-items: center;
    
    }
    
    /* HEADER MENÚ */
    .header__menu{
        
        display: flex;
        justify-content: center;
        display: inline-block;
        align-items: center;
        margin-bottom: 25px;
        /* font-size: medium; */
        
        
    
     
    }
    .header__menu a {
        display: inline-block;
    
        font-size: nedium;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        color: #FFFFFF;
        padding: 15px;
        line-height: 0.5px;
        margin: 5px 30px;

    }
        .main__peliculas img{

        margin: 5px 30px;
        /* height: auto; */
        width: 100px; 
    }
    .main__peliculas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    } 
    /* CARTELERA MOBILE*/
    .cartelera__titulo{
        /* display: block; */
        font-size: medium;
        margin-left: 50px;
    }
    .cartelera__peliculas{


        margin-left: 25px;
    
    }
    
    .cartelera__peliculas img{

        margin: 10px 20px;
        height: auto;
        width: 100px;
    }

    figure figcaption{
        font-size: 12px;
        color: #fff;
        line-height: 14px;
        text-align: center;
        width: 160px;
    }
    /* NUESTROS CINES */
    .grid__nuestros__cines {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    iframe{
        margin-right: 10px;
        height: 150px;
        width: 200px;
    }
    .h3__proximos__estrenos{
        margin-bottom: 15px;
        font-size: 16x;
        font-style: bold;
    }
    .textos{
        font-size: 16px;
    }
    .titulo__nuestroscines h2{
        padding-left: 0px;
        padding-bottom: 50px;
        font-size: 25px;
        
    }
}
